.admin-app-wrapper-header {
  background-color: #87888b;
  background-color: #606060;
  background-color: #000c17;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #fff;
  height: 74px;
  // box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
}
