.admin-d-none {
  display: none;
}
.admin-d-flex {
  display: flex;
}
.admin-d-block {
  display: block;
}
.admin-d-flex-inline {
  display: inline-flex;
}
.admin-d-block-inline {
  display: inline-block;
}
.admin-jc-center {
  justify-content: center;
}
.admin-jc-around {
  justify-content: space-around;
}
.admin-jc-between {
  justify-content: space-between;
}
.admin-jc-evenly {
  justify-content: space-evenly;
}
