.ad-background-none {
  background-color: transparent;
}

.ad-background-black {
  background-color: black;
}

.ad-background-white {
  background-color: white;
}

.ad-color-black {
  color: black;
}

.ad-color-white {
  color: white;
}

.ad-color-blue {
  color: #1890ff;
}
